name: CI

on:
  pull_request:
    branches: [main, production]
  push:
    branches: [main, production]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 9.15.0

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - run: pnpm install

      - run: pnpm lint

      - run: pnpm format:check

      - run: pnpm db:generate

      - run: pnpm type-check
